[submodule "lib184/glfw"]
	path = lib184/glfw
	url = https://github.com/glfw/glfw
[submodule "lib184/imgui"]
	path = lib184/imgui
	url = https://github.com/ocornut/imgui
[submodule "lib184/glm"]
	path = lib184/glm
	url = https://github.com/g-truc/glm
[submodule "lib184/tinyxml2"]
	path = lib184/tinyxml2
	url = https://github.com/leethomason/tinyxml2
